/* start mobil style */
@media (max-width: 600px) {
    /* start style mobil of nav bar */
    .nav-bar {
        height: 80px;
        transition: all 0.5s linear;
        -webkit-transition: all 0.5s linear;
        -moz-transition: all 0.5s linear;
        -ms-transition: all 0.5s linear;
        -o-transition: all 0.5s linear;
}

    .nav-bar .logo img {
        width: 150px;
        margin-top: 10px;
    }

    .button-sign{
        margin-top: 10px;
    }
    
    .nav-bar .links-nav {
        flex-direction: column;
        width: 100%;
        display: flex;
        justify-content: flex-start;
        height: 0px;
        overflow: hidden;
        white-space: nowrap;
        gap: 30px;
        transition: all 0.4s ease;
        -webkit-transition: all 0.4s ease;
        -moz-transition: all 0.4s ease;
        -ms-transition: all 0.4s ease;
        -o-transition: all 0.4s ease;
        order: 3;
} 

/* start style nav bar check */
.nav-bar .lab-check {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 50%;
    font-size: 20px;
    background-color: #eee;
    width: 65px;
    height: 32px;
    transform: translate(-50%,100%);
    -webkit-transform: translate(-50%,100%);
    -moz-transform: translate(-50%,100%);
    -ms-transform: translate(-50%,100%);
    -o-transform: translate(-50%,100%);
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.nav-bar .lab-check i {
    transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
}
/*  end style nav bar check */ 

.nav-bar:has(#check-nav:checked) .lab-check i {
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
}

.nav-bar:has(#check-nav:checked) {
    height: 400px;
}

.nav-bar:has(#check-nav:checked) .links-nav {
    height: 260px;
} 

.nav-bar:has(#check-nav:checked) + .slit-1 {
    transform: translateY(400px);
    -webkit-transform: translateY(400px);
    -moz-transform: translateY(400px);
    -ms-transform: translateY(400px);
    -o-transform: translateY(400px);
}


.nav-bar:has(#check-nav:checked) ~ .slit-2 {
    margin-top: 400px;
}

 /* end style mobil of nav bar */




/* start style mobil of slit-1 */
.slit-1 {
    transform: translateY(80px);
    -webkit-transform: translateY(80px);
    -moz-transform: translateY(80px);
    -ms-transform: translateY(80px);
    -o-transform: translateY(80px);
    transition: all 0.5s linear;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    height: 850px;
    justify-content: flex-start;
}

.slit-1 .div-1 {
    margin-left: -25px;
    transform: scale(0.8,0.8);
    -webkit-transform: scale(0.8,0.8);
    -moz-transform: scale(0.8,0.8);
    -ms-transform: scale(0.8,0.8);
    -o-transform: scale(0.8,0.8);
}

.slit-1 .div-2 {
    margin-top: -90px;
    transform: scale(0.63,0.65);
    -webkit-transform: scale(0.63,0.65);
    -moz-transform: scale(0.63,0.65);
    -ms-transform: scale(0.63,0.65);
    -o-transform: scale(0.63,0.65);
    flex-grow: 2;
} /* end style mobil of slit-1 */



/* start style mobil of slit-2 */
.slit-2 {
    margin-top: 80px;
    transition: all 0.5s linear;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    height: 200px;
    flex-direction: row;
}

.slit-2 .div-1 ,
.slit-2 .div-2 {
    flex-direction: column;
    justify-content: space-evenly;
    width: 50%;
    height: 100%;
}  /* end style mobil of slit-2 */


/* start style mobil of slit-3 */
.slit-3 {
    align-items: center;
    flex-direction: column;
    height: 1200px;
}

.slit-3 .div-1 {
    width: 350px;
    height: 350px;
}

.slit-3 .div-1 img {
    transform: scale(0.8,0.8);
    -webkit-transform: scale(0.8,0.8);
    -moz-transform: scale(0.8,0.8);
    -ms-transform: scale(0.8,0.8);
    -o-transform: scale(0.8,0.8);
}

.slit-3 .div-2 {
    height: 750px;
    margin-left: 10px;
}

.slit-3 .div-2 .d-1 {
    padding: 20px;
    font-size: 17px;
}

.slit-3 .div-2 .d-2 {
    font-size: 25px;
    margin-left: 8px;
}

.slit-3 .div-2 .d-3 {
    height: 530px;
    margin-left: 8px;
}


.slit-3 .div-2 .d-3 div{
    width: 310px;
    height: 160px;
}

.slit-3 .div-2 .d-3 div p br {
    display: none;
}

.slit-3 .div-2 .d-3 div p {
    width: 285px;
    height: 80px;
    font-size: 20px;
    white-space: wrap;
}     


/* start style mobil of slit-3 */

.slit-4 {
    background-color: red;
    flex-direction: column;
    align-items: center;
    height: 1100px;
}

.slit-4 .div-1 {
    align-self: flex-start;
    margin-left: 10px;
}

.slit-4 .div-1 .cont-2 {
    font-size: 35px;
}

.slit-4 .div-1 .cont-3 ul li {
    width: 250px;
}


.slit-4 .div-2 {
    width: 300px;
    height: 600px;
}   /* end style mobil of slit-3 */
















}  /* end mobil style */





