*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    scroll-behavior: smooth;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

body {
    perspective: 1000px;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
    text-decoration: none;
}

/* start style scroll */
::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background-color:#01404e;
}

::-webkit-scrollbar-thumb {
    background-color: #04684C;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    cursor: pointer;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #E2FF54;
}    /* end style scroll */



/* start style continet */
.continer {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 1000vh;
}   /* end style continer */


/* start style of nav bar */
.nav-bar {
    width: 100%;
    height: 85px;
    background-color: #01404E;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    position: fixed;
    top: 0;
    left:0;
    z-index: 1000;
}

.nav-bar .logo img{
    width: 200px;
}

.nav-bar .links-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.nav-bar .links-nav a:hover {
    color: rgb(103, 239, 130);
    transform: translateY(10px);
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -ms-transform: translateY(10px);
    -o-transform: translateY(10px);
}

.nav-bar .links-nav a {
    color: white;
    font-size: 22px;
    flex-shrink: 0;
    transition:all 0.4s ease ;
    -webkit-transition:all 0.4s ease ;
    -moz-transition:all 0.4s ease ;
    -ms-transition:all 0.4s ease ;
    -o-transition:all 0.4s ease ;
}

.nav-bar .sign-in {
    width: 150px;
    height: 60px;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border: 2px solid white;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
}


.nav-bar .sign-in:hover {
    color: rgb(103, 239, 130);
    border-color: rgb(103, 239, 130);
    transform: scale(1.1,1.1);
    -webkit-transform: scale(1.1,1.1);
    -moz-transform: scale(1.1,1.1);
    -ms-transform: scale(1.1,1.1);
    -o-transform: scale(1.1,1.1);
}

/* start style nav bar check */
.nav-bar #check-nav {
    display: none;
}

.nav-bar .lab-check {
    display: none;
}/*  end style nav bar check */        /* end style of nav bar */



/* start style slit-1 */
.slit-1 {
    width: 100%;
    height: 800px;
    background-image: url(../photo/Frame\ 1000011473.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transform: translateY(85px);
    -webkit-transform: translateY(85px);
    -moz-transform: translateY(85px);
    -ms-transform: translateY(85px);
    -o-transform: translateY(85px);
}

.slit-1 .div-1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 25px;
    height: 600px;
}


.slit-1 .div-1 .cont-1 {
    padding: 10px;
    height: 25px;
    background-color: #ffffff46;
    color: white;
    display: flex;
    gap: 7px;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

.slit-1 .div-1 .cont-2 {
    display: flex;
    font-weight: 900;
    font-size: 300%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: white;
} 

.slit-1 .div-1 .cont-2 .span-3 {
    color: #E2FF54;
}


.slit-1 .div-1 .cont-3 {
    width: 400px;
    font-size: 18px;
    text-transform: capitalize;
    color: white;
} 

.slit-1 .div-1 .cont-4 {
    display: flex;
    width: 150px;
    height: 60px;
    justify-content: space-around;
    align-items: center;
    border-radius: 30px;
    background-color: #00B512;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    cursor: pointer;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}

.slit-1 .div-1 .cont-4 a {
    color: white;
    font-size: 20px;
    margin-left: 5px;
}

.slit-1 .div-1 .cont-4 i {
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    background-color: white;
    width: 0px;
    height: 40px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    opacity: 0;
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
}

.slit-1 .div-1 .cont-4:hover {
    width: 220px;
}

.slit-1 .div-1 .cont-4:hover i {
    opacity: 1;
    width: 40px;
}


.slit-1 .div-2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.slit-1 .div-2 .cont-img-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    animation-name: move-slit-1;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes move-slit-1 {
    to {
        transform: translateY(-20px);
        -webkit-transform: translateY(-20px);
        -moz-transform: translateY(-20px);
        -ms-transform: translateY(-20px);
        -o-transform: translateY(-20px);
    }
}    /* end style slit-1 */


/* start style slit-2 */
.slit-2 {
    background-color: #04684C;
    width: 100%;
    height: 80px;
    margin-top: 85px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.slit-2 .div-1,
.slit-2 .div-2 {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
} 


.slit-2 .div-1 a img,
.slit-2 .div-2 a img {
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
}

.slit-2 .div-1 a:hover img,
.slit-2 .div-2 a:hover img{
    transform: scale(1.2,1.2);
    -webkit-transform: scale(1.2,1.2);
    -moz-transform: scale(1.2,1.2);
    -ms-transform: scale(1.2,1.2);
    -o-transform: scale(1.2,1.2);
} /* end style slit-2 */



/* start style slit-3 */
.slit-3 {
    width: 100%;
    display: flex;
    height: 850px;
    align-items: center;
    justify-content: space-evenly;
}

.slit-3 .div-1 {
    width: 500px;
    height: 500px;  
    background-color: #F5F5F5;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

.slit-3 .div-2 {
    background-color:  rgb(255, 255, 255);
    height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}


.slit-3 .div-2 .d-1 {
    display: flex;
    justify-content: center;
    gap: 5px;
    align-items: center;
    background-color: #F5F5F5;
    padding: 10px ;
    font-weight: 900;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    animation-name: move-about;
    animation-duration: 2s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes move-about {
    to {
        transform: translateY(20px);
        -webkit-transform: translateY(20px);
        -moz-transform: translateY(20px);
        -ms-transform: translateY(20px);
        -o-transform: translateY(20px);
}
}

.slit-3 .div-2 .d-2 {
    font-size: 35px;
    font-weight: 900;
}




.slit-3 .div-2 .d-3 {
    height: 430px;
    overflow-y: scroll;
    white-space: nowrap;
    padding-right: 20px;
}

.slit-3 .div-2 .d-3 div {
    width: 550px;
    height: 130px;
    margin-bottom: 20px;
    background-color: #ffffff;
    border: 5px solid #F5F5F5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px ;
    padding-left: 20px;
    cursor: pointer;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    transition:all 0.4s ease;
    -webkit-transition:all 0.4s ease;
    -moz-transition:all 0.4s ease;
    -ms-transition:all 0.4s ease;
    -o-transition:all 0.4s ease;
}

.slit-3 .div-2 .d-3 div:hover {
    background-color: #F1FFD2;
    border-color: #F1FFD2;
}

.slit-3 .div-2 .d-3 div h3 {
    font-size: 23px;
    font-weight: 900;
}

.slit-3 .div-2 .d-3 div p {
    font-size: 18px;
    color: #6B6969;
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
}

.slit-3 .div-2 .d-3 div:hover p{
    color: black;
}      /* end style slit-3 */



/* start style slit-4 */

.slit-4 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 800px;
}


.slit-4 .div-1 {
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
}

.slit-4 .div-1 .cont-1 {
    background-color: #F5F5F5;
    padding: 10px 20px;
    width: fit-content;
    display: flex;
    gap: 5px ;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    animation-name: move-feat;
    animation-duration: 2s;
    animation-direction: alternate;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes move-feat {
    to {
        transform: translateY(20px);
        -webkit-transform: translateY(20px);
        -moz-transform: translateY(20px);
        -ms-transform: translateY(20px);
        -o-transform: translateY(20px);
}
}

.slit-4 .div-1 .cont-2 {
    font-size: 50px;
    font-weight: 900;
}

.slit-4 .div-1 .cont-3 ul{
    color: #676666;
    text-decoration: dotted;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 390px;
    gap: 25px ;
    margin-left: 20px;
}

.slit-4 .div-1 .cont-3 ul li {
    text-decoration: dotted;
    list-style-type: disc;

}



.slit-4 .div-1 .cont-4 {
    display: flex;
    width: 130px;
    height: 60px;
    justify-content: space-around;
    align-items: center;
    border-radius: 30px;
    background-color: #ffffff;
    border: 3px solid #00B512;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    cursor: pointer;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}

.slit-4 .div-1 .cont-4 a {
    color: black;
    font-size: 20px;
    margin-left: 10px;
    font-weight: 600;
}

.slit-4 .div-1 .cont-4 i {
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    background-color: #00B512;
    color:white;
    width: 0px;
    height: 40px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    opacity: 0;
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
}

.slit-4 .div-1 .cont-4:hover {
    width: 220px;
}

.slit-4 .div-1 .cont-4:hover i {
    opacity: 1;
    width: 40px;
}


.slit-4 .thabet {
    background-color: #F6F9F8;
    cursor: pointer;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.11);
}


.slit-4 .div-2 {
    position: relative;
    height: 650px;
    width: 500px;
    cursor: pointer;
    transform-style: preserve-3d;
    perspective: 800px;
    transition: all 1s linear;
    -webkit-transition: all 1s linear;
    -moz-transition: all 1s linear;
    -ms-transition: all 1s linear;
    -o-transition: all 1s linear;
    transition-delay: 2s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slit-4 .thabet:hover .div-2{
    transition-delay: 0s;
    transform: rotateY(180deg) translateY(-50px);
    -webkit-transform: rotateY(180deg) translateY(-50px);
    -moz-transform: rotateY(180deg) translateY(-50px);
    -ms-transform: rotateY(180deg) translateY(-50px);
    -o-transform: rotateY(180deg) translateY(-50px);
}



.slit-4 .div-2 .front-face{
    position: absolute;
    z-index: 5;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    transform: translateX(-5px);
    -webkit-transform: translateX(-5px);
    -moz-transform: translateX(-5px);
    -ms-transform: translateX(-5px);
    -o-transform: translateX(-5px);
}

.slit-4 .div-2 .back-face{
    position: absolute;
    z-index: 4;
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
} /* end style slit-4 */



