/* start tablet style */
@media (max-width: 992px) {
    /* start style tablet of nav bar */
    .nav-bar {
        flex-wrap: wrap;
        height: 145px;
        width: 100%;
    }

    .nav-bar .links-nav {
        gap: 40px;
        font-size: 25;
    }  /* end style tablet of nav bar */



    
    /* start style tabket of slit-1 */
    .slit-1 {
        flex-direction: column;
        height: 1100px;
        transform: translateY(145px);
        -webkit-transform: translateY(145px);
        -moz-transform: translateY(145px);
        -ms-transform: translateY(145px);
        -o-transform: translateY(145px);
}

.slit-1 .div-1 {
    align-self: flex-start;
    margin-left: 50px;
}   /* end style tabket of slit-1 */















} /* end tablet style */



/* start solv proplem for wrab */
@media (max-width: 958px) {

    .nav-bar .links-nav {
        order: 3;
    }

}/* end solv proplem for wrab */